{% extends "base.html" %}
{% block title %}Город{% endblock %}

{% block content %}
   <h1 class="display-4">Город</h1>
   <div class='row'>
       <!--подстройка по размеру экрана-->
       <div class="col-md-6">
           <!--формируем список городов, то есть просто печатаем имена-->
               <p>Название города: {{object.name}}</p>

       </div>

   </div>


   <!--добавляем навигацию-->

    <div class='row'>
       <!--подстройка по размеру экрана-->
       <div class="col-md-6">
           <!--создайм переход по ссылке на home в пространстве имен city-->
               <a href='{%url "city:home"%}'>
           <!--добавляем кнопку-->
               <button type='button' class='btn btn-light'>
           <!--Название кнопки-->
               Назад к списку
               </button>
               </a>

       </div>

   </div>
{% endblock %}