<!--Начальная страница для приложения(вкладки) Города, со списком добавленых на данный момент городов -->
{% extends "base.html" %}
{% block title %}Города {% endblock %}

{% block content %}
   <h1 class="display-4">Города</h1>
   <div class='row'>
       <!--подстройка по размеру экрана-->
       <div class="col-md-6">
           <!--создание таблицы-->
           <table class="table table-striped table-dark">
           <tbody>
           <!--формируем список городов, то есть просто печатаем имена-->
           {% for object in objects_list %}
           <!--tr - строка таблицы, td - ячейка таблицы-->
               <tr>
               <!--чтобы просматривать детали объекта нужно создать ссылку на него-->
                   <td>
                       <body>
                       <a href="{%url 'city:detail' pk=object.pk%}" style='color:white'>
                           {{object.name}}
                       </a>
                       </body>
                   </td>

                   <!--ссылка на редактирование записи, в виде кнопки-->
                   <td>
                       <a href="{%url 'city:update' pk=object.pk%}" style='color:white'>
                           <button type="button" class="btn btn-light btn-sm">
                           Редактировать
                           </button>
                       </a>
                   </td>

                   <!--ссылка на удаление записи, в виде кнопки-->
                   <td>
                       <a href="{%url 'city:delete' pk=object.pk%}" style='color:white'>
                           <button type="button" class="btn btn-danger btn-sm">
                           Удалить
                           </button>
                       </a>
                   </td>
               </tr>
           {% endfor %}
           </tbody>
           </table>

           <!--класс пагинации от Django-->
           <!--отступ по вертикали-->
           <div class="pagination my-4">
             <span class="step-links">
                {% if objects_list.has_previous %}
                    <a href="?page=1">&laquo;</a>
                    <a href="?page={{ objects_list.previous_page_number }}">previous</a>
                {% endif %}

                <span class="current">
                    Page {{ objects_list.number }} of {{ objects_list.paginator.num_pages }}.
                </span>

                {% if objects_list.has_next %}
                    <a href="?page={{ objects_list.next_page_number }}">next</a>
                    <a href="?page={{ objects_list.paginator.num_pages }}"> &raquo;</a>
                {% endif %}
             </span>
           </div>
       </div>
   </div>

   <!--кнопка добавления записи-->
   <div class="row">


     <div class="col-md-6">
       <a href="{%url 'city:add'%}" style='color:white'>
                           <button type="button" class="btn btn-primary btn-sm">
                               Добавить новый город
                           </button>
       </a>

     </div>
   </div>

{% endblock %}

<!--Создание формы для добавления города на странице-->
<!--action передаёт нашу форму на какой-то адрес. Если action пуст, то обработка формы передаётся на ту  страницу, с которой вызывается -->
<!--Например, если задать адрес гугла, ввести что-либо в форму и нажать "Сохранить", то нас просто перебросит на гугловую страницу с ссылками по запросу-->
<!--Необходим csrf токен - защита от csrf атак(подробнее в гугле)

<form action="" method="post"> {% csrf_token %}
  Город:<br>

        При добавлении города, в адресной строке появляется get-параметр name, который равен введенному значению

  <input type="text" name="name"><br>
  <br>
  <input type="submit" value="Сохранить">
</form>-->

<!--Более продвинутый вариант написания формы-->