<!--Начальная страница для приложения(вкладки) Города, со списком добавленых на данный момент городов -->
{% extends "base.html" %}
{% block title %}Города {% endblock %}

{% block content %}
   <h1 class="display-4">Города</h1>
   <div class='row'>
       <!--подстройка по размеру экрана-->
       <div class="col-md-6">
           <!--формируем список городов, то есть просто печатаем имена-->
           {% for object in objects_list %}
               <p>{{object.name}}</p>
           {% endfor %}
       </div>

   </div>


<!--Создание формы для добавления города на странице-->
<!--action передаёт нашу форму на какой-то адрес. Если action пуст, то обработка формы передаётся на ту  страницу, с которой вызывается -->
<!--Например, если задать адрес гугла, ввести что-либо в форму и нажать "Сохранить", то нас просто перебросит на гугловую страницу с ссылками по запросу-->
<!--Необходим csrf токен - защита от csrf атак(подробнее в гугле)

<form action="" method="post"> {% csrf_token %}
  Город:<br>

        При добавлении города, в адресной строке появляется get-параметр name, который равен введенному значению

  <input type="text" name="name"><br>
  <br>
  <input type="submit" value="Сохранить">
</form>-->

<!--Более продвинутый вариант написания формы-->

<form action="" method="post"> {% csrf_token %}
 <!--Данный метод реализует форму как строки(прочитать об API-формах) Формирует форму в качестве парагрфа-->
 {{form.as_p}}
  <br>
  <input type="submit" value="Сохранить">
</form>





{% endblock %}